{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": "cjs",
        "targets": {
          "chrome": "70"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@emotion/babel-plugin"
  ]
}